@import 'tailwindcss';
@import 'tw-animate-css';

   @layer utilities {
    .hero-logo-bg {
      position: relative;
      overflow: hidden;
      isolation: isolate;
    }
  
    .hero-logo-bg > * {
      position: relative;
      z-index: 2;
    }

/* ===== sm layers ===== */
    @media (min-width: 100px) {
  
      /* LOGO: estructural, muy sutil */
      .hero-logo-bg::before {
        width: 70%;
        opacity: 0.50;
        content: "";
        position: absolute;
        inset-block: 0;
        bottom: 10%;
        background-image: url("/logo/just-logo.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        z-index: 0;
        pointer-events: none;
  
        -webkit-mask-image: linear-gradient(
          to bottom,
          #000 0%,
          transparent 65%
        );
  
        mask-image: linear-gradient(
          to bottom,
          #000 75%,
          transparent 95%
        );
      }
    }
  
    /* ===== Desktop & sm+ layers ===== */
    @media (min-width: 640px) {
  
      /* LOGO: estructural, muy sutil */
      .hero-logo-bg::before {
        width: 42%;
        opacity: 0.90;
        content: "";
        position: absolute;
        inset-block: 0;
        right: 0;
        top: 5%;
  
        background-image: url("/logo/just-logo.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
  
        opacity: 0.52; /* ↓↓↓ mucho más sutil */
        z-index: 0;
        pointer-events: none;
  
        -webkit-mask-image: linear-gradient(
          to left,
          #000 0%,
          transparent 65%
        );
  
        mask-image: linear-gradient(
          to left,
          #000 0%,
          transparent 65%
        );
      }
  
      /* FOTO: protagonista secundaria */
      .hero-logo-bg::after {
        width: 65%;
        opacity: 0.96;
        content: "";
        position: absolute;
        inset-block: 0;
        left: 0;
        top: 5%;

        background-image: url("/logo/personal_photo.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
  
        opacity: 0.92;
        z-index: 1;
        pointer-events: none;
  
        -webkit-mask-image: linear-gradient(
          to right,
          #000 0%,
          #000 45%,
          transparent 85%
        );
  
        mask-image: linear-gradient(
          to right,
          #000 0%,
          #000 25%,
          transparent 85%
        );
      }
    }
  
    /* ===== Large screens: respirar ===== */
    @media (min-width: 1024px) {
      .hero-logo-bg::before {
        width: 40%;
        opacity: 0.90;
        content: "";
        position: absolute;
        inset-block: 0;
        right: 50;
        z-index: 0;
        pointer-events: none;
        background-position: center center;

        -webkit-mask-image: linear-gradient(
          to left,
          #000 0%,
          #000 35%,
          transparent 85%
        );
  
        mask-image: linear-gradient(
          to left,
          #000 0%,
          #000 10%,
          transparent 80%
        );
      }
  
      .hero-logo-bg::after {
        width: 65%;
        opacity: 0.96;
        content: "";
        position: absolute;
        inset-block: 0;
        left: 0;

        opacity: 0.92;
        z-index: 1;
        pointer-events: none;
        background-position: center center;

        -webkit-mask-image: linear-gradient(
          to right,
          #000 0%,
          #000 45%,
          transparent 85%
        );
  
        mask-image: linear-gradient(
          to right,
          #000 10%,
          #000 45%,
          transparent 85%
        );
      }
    }
  }
  
